PORT=4000
MONGO_URI=mongodb+srv://intellicodeteam_db_user:intellicodeteam@cluster0.srtf2x2.mongodb.net/?appName=Cluster0
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
DEFAULT_TAX_RATE=0.06
COUPON_DEFAULT_PCT=0.1
